*.root
ROOTFILES/*.root
RunINegPolData/*.so
RunINegPolData/*.d
RunINegPolData/*.gif
RunINegPolData/*.root

RunIINegPolData/*.so
RunIINegPolData/*.d
RunIINegPolData/*.gif
RunIINegPolData/*.root

RunIPosPolData/*.so
RunIPosPolData/*.d
RunIPosPolData/*.gif
RunIPosPolData/*.root

RunIIPosPolData/*.so
RunIIPosPolData/*.d
RunIIPosPolData/*.gif
RunIIPosPolData/*.root

PionMC/*.so
PionMC/*.d
PionMC/*.gif
PionMC/*.root

MuonMC/*.so
MuonMC/*.d
MuonMC/*.gif
MuonMC/*.root

KaonMC/*.so
KaonMC/*.d
KaonMC/*.gif
KaonMC/*.root

PhotonMC/*.so
PhotonMC/*.d
PhotonMC/*.gif
PhotonMC/*.root

ElectronMC/*.so
ElectronMC/*.d
ElectronMC/*.gif
ElectronMC/*.root

CrossSection_Plots/*.gif
