*.root
ROOTFILES/*.root
RunINegPolData/*.so
RunINegPolData/*.d
RunINegPolData/*.gif
RunINegPolData/*.root

RunIINegPolData/*.so
RunIINegPolData/*.d
RunIINegPolData/*.gif
RunIINegPolData/*.root

RunIPosPolData/*.so
RunIPosPolData/*.d
RunIPosPolData/*.gif
RunIPosPolData/*.root

RunIIPosPolData/*.so
RunIIPosPolData/*.d
RunIIPosPolData/*.gif
RunIIPosPolData/*.root

PiomMC/*.so
PiomMC/*.d
PiomMC/*.gif
PiomMC/*.root
